	 @font-face {
    font-family: lnconsolata; /* Имя шрифта */
    src: url(../fonts/lnconsolata.otf); /* Путь к файлу со шрифтом */
   }
   @font-face {
    font-family: PlayfairDisplay; /* Имя шрифта */
    src: url(../fonts/PlayfairDisplay-Regular.ttf); /* Путь к файлу со шрифтом */
   }
    @font-face {
    font-family: Ubuntu; /* Имя шрифта */
    src: url(../fonts/Ubuntu-light.ttf); /* Путь к файлу со шрифтом */
   }
    @font-face {
    font-family: PlayfairDisplay-Black; /* Имя шрифта */
    src: url(../fonts/PlayfairDisplay-Black.ttf); /* Путь к файлу со шрифтом */
   }
     @font-face {
    font-family: PlayfairDisplay-Italic; /* Имя шрифта */
    src: url(../fonts/PlayfairDisplay-Italic.ttf); /* Путь к файлу со шрифтом */
   }
   a{
text-decoration: none;
  color: rgb(98, 98, 98);
   }
   .header{
  float: left;
  width: 1100px;
   }
   .nav{
    
    position: relative;
    top: -20px;
    left: 500px;
    width:770px;
    margin: 0px;

   }
  .header_Minimo {

  font-size: 30px;
  font-family: lnconsolata;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 0.8;
  text-align: center;
position: relative;
top: 20px;
  width: 119px;
  height: 23px;
  z-index: 77;

}
body {
  text-align: center;
  max-height: 3000px;
  margin: 0 auto;
  width: 900px;
  text-align: left;
}

.cover {
  box-sizing:border-box; 
  width: 1162px;
  height: 774px;
 
}
.aside{
  position: relative;
  top:-2120px;
  left: 880px;
  width:285px;
  height: 1000px;
  }
.article__text {
  font-size: 14px;
  font-family: "PlayfairDisplay";
  color: rgb(98, 98, 98);
  line-height: 1.714;
  text-align: left;
  position: relative;
 width:780px;
 top:180px;
}
.article__text_bold{
   font-family: PlayfairDisplay-Black;
   font-size: 14px;
  color: rgb(98, 98, 98);
  line-height: 1.714;
}

.article__title{

  font-size: 30px;
  font-family: "PlayfairDisplay";
  color: rgb(98, 98, 98);
  line-height: 1.2;
  position: relative;
 margin:0;
  top:130px;
 
}
.article__position{
  position: relative;
  top:100px;
}
.article__Photodiary{
  position:relative;
  top:100px;


  font-size: 14px;
  font-family: "Ubuntu";
  color: rgb(180, 173, 158);
  text-transform: uppercase;
  line-height: 1.2;
  height: 11px;
}
/*#main{
  width:780px;
}*/

.nav_links li{
     display: inline;
      font-size: 14px;
  font-family: PlayfairDisplay;
  color: rgb(98, 98, 98);
  text-transform: uppercase;
  line-height: 1.714;
  text-align: center;
 
  width: 71px;
  height: 11px;
  z-index: 76;

  margin-left: 50px;
  margin-right: 50px;
}
.wrapper{
  max-height: 3200px;
  margin:70px;
}
.article__image1 {
  position: relative;
  top: 200px;
  height: 520px;

  
}
.article__image2 {
   position: relative;
  top: 250px;
  height: 520px;
}
.article__image3 {
   position: relative;
  top: 300px;
  height: 520px;
}
.article__image4{
   width: 285px;
  height: 185px;
}
.aside__AboutMe{

  font-size: 24px;
  font-family: "PlayfairDisplay";
  color: rgb(98, 98, 98);
  line-height: 0.833;
 position: relative;

}
.aside__text{

  font-size: 12px;
  font-family: "PlayfairDisplay";
  color: rgb(98, 98, 98);
  line-height: 1.667;
 


}
.article__paragraph{
  font-size: 14px;
  font-family: PlayfairDisplay-Italic;
  color: rgb(98, 98, 98);
  font-style: italic;
  line-height: 1.714;
  text-align: left;
 position: relative;
 top:350px;
 left:50px;
 width:650px;
 }
 .article__text2{
  font-family: "PlayfairDisplay";
  color: rgb(98, 98, 98);
  font-weight: 400;
  line-height: 1.714;
  text-align: left;
 position: relative;
 top:380px;
 font-size: 14px;

 width:720px;
 }
 .article__footer_pinterest{
  
position:relative;
top:-95px;
left:240px;
 }
 .article__footer_tumblr{
position:relative;
top:-75px;
left:210px;
 }
 .article__footer_g{
   width: 17px;
  height: 17px;
position:relative;
top:-57px;
left:180px;
 }
  .article__footer_tw{
  position:relative;
top:-40px;
left:150px;
  }
 .article__footer_fb{

  width: 10px;
height: 10px;
position:relative;
top:-30px;
left:120px;
 }
 .article__footer{
  position: relative;
  left:600px;
  top:450px;
 }
 .article__footer_Share{

  font-size: 13px;
  font-family: "Ubuntu";
  color: rgb(180, 173, 158);
  text-transform: uppercase;
  line-height: 1.846;
  position: relative;
 }
 .Footer{
 
   padding: 40px;
  height: :100px;
  background-color: #d9d9d9;
  position:relative;
   height: 20px;
   top:400px;
   width:1200px;
  
 }
 .Footer__text{

  font-size: 14px;
  font-weight: 600;
  font-family: "PlayfairDisplay";
  color: rgb(0, 0, 0);
  line-height: 1.714;
  position: relative;
left:20px;
}
.Footer__text_privacy{
  margin: 30px;
}

 .Footer__share{
  position: relative;
  left: 1000px;
  float: left;
  font-family: "PlayfairDisplay";
  font-size: 14px;
  font-weight: 600;
  
  box-sizing:border-box;
    top:-20px;
  margin-left: 0px;
 }
.Footer__share_facebook{
 
   position: relative;
  top: -20px;
  left: 100px;
  width:10px;
  height: 18px;
}
.Footer__share_twitter{
 
  position: relative;
  top: -20px;
  left: 120px;
  width:18px;
  height: 16px;
}
.Footer__share_instagram{
   position: relative;
  top: -20px;
  left: 140px;
  width:15px;
  height: 15px;
}
.aside__share{
  position:relative;
  }
.aside__share_iconsfb{
  position: relative;
    width:8px;
  height: 20px;
}
.aside__share_iconsinst{

  position: relative;
    width:20px;
  height: 20px;
  left: 10px;
}
.aside__share_iconspin{
  
  position: relative;
    width:20px;
  height: 20px;
  left: 20px;
}
.aside__posts_links{
position: relative;
left: -20px;
 font-size: 16px;
  font-family: "PlayfairDisplay";
  color: rgb(98, 98, 98);
  line-height: 1.2;
   width: 180px;
  height: 17px;
 
   }
.aside__posts{
  position: relative;
  top: 100px;
}
.aside__posts_TopPosts{

  font-size: 14px;
  font-family: "Ubuntu";
  color: rgb(180, 173, 158);
  text-transform: uppercase;
  line-height: 1.2;
 
  z-index: 54;
}

.aside__posts_links_comment{

  font-size: 12px;
  font-family: "Ubuntu";
  color: rgb(180, 173, 158);
  text-transform: uppercase;
  line-height: 1.2;
  width: 90px;
  height: 10px;
  z-index: 42;
  position: relative;
  top:10px;
}
.aside__posts_links li{
 
  margin-top: 20px;

}
.aside__banner{
  position: relative;
  top: 300px;
  left: -65px;
}
.aside__banner_imagemBanner{
   
   position: relative;
  
  width:400px;
  height: 245px;
}
.aside__banner_sizebaneer{
position: relative;
top:-160px;
left: 100px;
  font-size: 48px;
  font-family: "Ubuntu";
 color: rgb(255, 255, 255);
 text-transform: uppercase;
  line-height: 1.2;
  width: 186px;
  height: 36px;
  text-align: center;
  }
  .aside__banner_bannerSpot{

  font-size: 14px;
  font-family: "Ubuntu";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  position: relative;
  left: 155px;
  top: -150px;

  }