@font-face {
    font-family: Lato; /* Имя шрифта */
    src: url(../fonts/Lato-Bold.ttf); /* Путь к файлу со шрифтом */
   }
   @font-face {
    font-family: Lato_Regular; /* Имя шрифта */
    src: url(../fonts/Lato-Regular.ttf); /* Путь к файлу со шрифтом */
   }
   @font-face {
    font-family: Lato_Italic; /* Имя шрифта */
    src: url(../fonts/Lato-Italic.ttf); /* Путь к файлу со шрифтом */
   }
body{
 background-color:  #f7f9fc;
}
.inactive{

 pointer-events: none;
  color:#bdbdbd;
}

 a{
text-decoration: none;
  color: #333333;
   }
 .header__search:hover{
  border-bottom: 3px solid #5c6bc0;

}
a:active{
  color:#5c6bc0;
}
    section{
    margin-top: 50px;
  }
footer{
  margin-top: 100px; 
  height: 525px;
padding:100px;
  background-color: rgb(92, 107, 192);
  z-index: 3;
text-align: center;
}

.wrapper{
width:965px;
margin-left:  15%;
margin-right: 5%;
}
.clearfix:after {
  display: block;
  content: ' ';
  clear: both;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.header{
margin-top: 10%;
}
.nav_links li{
  display: inline;
  margin-left: 40px;
  font-size: 16px;
  font-family: "Lato";
  color: rgb(189, 189, 189);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.563;
  text-align: right;
  }
  .nav{
    box-sizing:border-box;
    position: relative;
    top: -33px;
    left:440px;
    right:0;
    max-width: 550px;
      margin-right: 0;
  }
 
  .height-post1{
    height: 700px;
  }
  .height-post2{
    height: 860px;
  }
  .height-post3{
    height: 1130px;
    margin-top: 50px;
  }
  .section__posts{
    box-sizing:border-box;
    padding:50px;
    padding-left: 100px;
    padding-right: 100px;
   width: 956px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
  }
.section__posts_mountain{
  margin-top: 50px;
}
.section__posts_Sep-20{

  font-size: 14px;
  font-family: "Lato";
  color: rgb(189, 189, 189);
  font-weight: bold;
  line-height: 3.571;
  }
  .section__posts_title1{
    margin:0;
  font-size: 40px;
  font-family: "Lato";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.25;
    }
  .section__posts_line-post{
    margin-top: 40px;
  }
  .section__posts_text-post{
  margin-top: 40px;
  font-size: 17px;
  font-family: "Lato_Regular";
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.765;
   }
.section__posts_read-more{

  font-size: 21px;
  font-family: "Lato";
  color: rgb(92, 107, 192);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.381;
 text-align: center;
  padding: 5px;
padding-bottom: 20px;
  width:135px;
  height:30px;
  }
 .section__posts_read-more:hover{
  border: 2px solid #f1f1f1;
 }
 .section__posts_read-more:active{
  border: 2px solid #7d89cd;
 }
 .section__posts_hashtags{
 position: relative;
 left:500px;
 top:-65px;
  
   }
   .section__posts_hashtags li{
    display: inline;
    margin-left:10px;
    font-size: 15px;
  font-family: "Lato_Regular";
  color: rgba(0, 0, 0, 0.302);
  line-height: 3.333;
   }
    .section__posts_hashtags li a{
    text-decoration: none;
  color: rgba(0, 0, 0, 0.302);

   }
   .section__posts_hashtags li a:hover{
  color: rgb(114, 127, 200);
  text-decoration: underline;
   }
    .section__posts_hashtags li a:active{
  transition: 0.5s;
  text-decoration: none;
   }
   .section__posts_tag1{
position: relative;
top:-450px;
left:780px;
   }
   .section__posts_text-posts-italic{

  font-size: 25px;
  font-family: "Lato_Italic";
  color: rgba(0, 0, 0, 0.502);
  font-style: italic;
  line-height: 1.52;
  }
   .section__posts_tag2{
position: relative;
top:-890px;
left:770px;
  

   }
   .section__posts_image{
    margin-top: 40px;
    float: left;
   }
   .margin-text-post3{
margin-top: 60px;
   }
   .margin-top-0{
    margin-top:0;
   }
   .section__posts_vertical-line{
    float: left;
    margin-top: 20px;
   }
   .section__posts_text-line{
  margin-left: 40px;
  margin-top: 20px;
  font-size: 20px;
  font-family: "Lato_Regular";
  color: rgba(0, 0, 0, 0.4);
  line-height: 1.5;
   
   }
  
   .section__posts_tag3{
    position: relative;
    top:-1150px;
    left:780px;
   }
   .footer__paolo-alto{
   
  
  margin-left: auto;
  margin-right: auto;
       }
  .footer__nav{
margin-top: 90px;
  }
  /*.footer__nav_links li a{
    text-decoration: none;
  color: rgb(255, 255, 255);
 
  }*/
  .footer__nav_links li{
  display: inline;
  font-size: 16px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.563;
  margin-left: 30px;

  }
  .footer__line{
    margin-top: 40px;
  }
  .footer__text{
  margin: 30px;
  font-size: 14px;
  font-family: "Lato_Regular";
  color: rgba(255, 255, 255, 0.4);
  line-height: 2.143;
   z-index: 10;
  }
  .footer__text_pixel{
  
  font-size: 14px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 2.143;
  text-align: left;
    }
    .footer__text_pixel:hover{
text-decoration: underline;
    }
    .footer__share_icon{
      margin-left: 20px;
      width:;
      height:;
      padding: 10px;
      text-align: center;
    }
    .contacts__height-form{
      height:845px;

    }
   .input {
  background-color: #f7f9fc;
  height: 56px;
  width: 366px;
  border: none;
  padding: 22px 32px;
  margin-bottom: 30px;
 
  font-size: 20px;
  font-family: "Lato";
  color: rgba(51, 51, 51, 0.302);
  line-height: 1.5;
  
}
.link{
  color:rgb(255,255,255);
}
.link:hover{
  text-decoration: underline;
}
.textarea {
  width: 100%;
  max-width: 100%;
  height: 146px;
}
.section__contacts{
  margin-top: 50px;
}
.nav__links_search:hover{
  background-image: url(../images/search-hover.png);
  text-decoration: none;
}
.nav__links_search{
  background-image: url(../images/Search.png);
width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  transition: 0.2s;
}
.tag-Travel{
   background-image: url(../images/I-Do-Travel.png);
width: 88px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  transition: 0.1s;
}
.tag-Travel:hover{
background-image: url(../images/I-Do-Travel-hover.png);
width: 98px;
  height: 36px;
 }
 .tag-Observe{
   background-image: url(../images/I-Do-Observe.png);
width: 102px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  transition: 0.1s;
 }
 .tag-Observe:hover{
  background-image: url(../images/I-Do-Observe-hover.png);
width: 105px;
  height: 35px;
   }
  .tag-Reflect{
    background-image: url(../images/I-Do-Reflect.png);
width: 94px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  transition: 0.1s;
  }
  .tag-Reflect:hover
  {
    background-image: url(../images/I-Do-Reflect-hover.png);
width: 98px;
  height: 35px;
  }
  .tag-Reflect:active{
    background-image: url(../images/I-Do-Reflect-click.png);
width: 100px;
  height: 32px;
 
  }
   .tag-Observe:active{
    background-image: url(../images/I-Do-Observe-click.png);
width: 94px;
  height: 32px;
   }
    .tag-Travel:active{
    background-image: url(../images/I-Do-Travel-click.png);
width: 94px;
  height: 32px;
 
  }
  .footer__inactive{
  
  color:#a9afdb;
  }
  .send-message{
font-size: 21px;
  font-family: "Lato";
  color: rgb(92, 107, 192);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.381;
 text-align: center;
  padding: 5px;
padding-bottom: 20px;
  width:200px;
  height:30px;
  }
   .send-message:hover{
  border: 2px solid #f1f1f1;
 }
 .send-message:active{
  border: 2px solid #7d89cd;
 }
 
 .backgr:hover {
      border: 10px;
      background-color: #5360ac;
      width:22px;
      height:22px;
}
.footer__search{
  padding: 10px;
}
.footer__search:hover{
  
   border: 10px;
      background-color: #5360ac;
      width:22px;
      height:22px;

}