{% extends "layout.html" %}
  <html>
 
				 <body>
				 
				 	 {% block main %}
				 	<section class="section__posts contacts__height-form">
				 		<p class="posts_title1">Contact Us</p>
				 		<p class="posts_text-post">Nam in maximus arcu, ac aliquam tellus. Donec vestibulum ipsum nunc, at placerat ante posuere non. Integer at dui a lacus suscipit elementum id non massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc eu neque eros. Ut eu quam justo.</p>
						<img class="posts_line-post" src="../images/line-post.png" alt="line">
				 		<form class="section__contacts" action="send.php" id="contacts">
						<input class="input" name="name" type="text" placeholder="Your Name">
						<input class="input" name="email" type="email" placeholder="Email">
						<input class="input" name="subject" type="text" placeholder="Subject">
						<textarea class="input textarea" name="message" placeholder="Your Message"></textarea>
						<input class="send-message" type="submit" value="send message" form="contacts">
					
						
					</form>
				 	</section>
				 </div>
				  {% endblock %}
				
				 </body>
 
   </html>
	