   {% extends "layout.html" %}
   <html>
				
 
				 <body>
				

				 	
				 	  {% block main %}
				 	<section>
				 		<div class="posts">
				 		<div class="section__posts height-post1">
				 			<span class="posts_Sep-20"> Sep 20</span>
				 			<div class="posts_title1">No difference how many peaks you reach if there was no pleasure in the climb.
							</div>
							<img class="posts_line-post" src="../images/line-post.png" alt="line">
				 			<p class="posts_text-post">Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.
							</p>
							<div class="posts_tag tag-Travel"> I Do Travel</div>
							<div >
							<div class="read-more"> read more</div>
						 <ul class="posts_hashtags">
                        	<li><a href="#">#Yosemit</a></li>
                        	<li><a href="#">#Peak</a></li>
                        	<li><a href="#">#Explorer</a> </li>
                        	</ul></span>
				 		</div>
				 	</div>
				 	     <img class="section__posts_mountain" srcset="../images/mountain.png 1x, ../images/mountain@2x.png 2x" alt="Mountain">
				         <div class="section__posts height-post2">
				 			<span class="posts_Sep-20"> Sep 18</span>
				 				<div class="posts_title1">You know, I'd rather argue with you, then laugh with anyone else. 
							</div>
							<img class="posts_line-post" src="../images/line-post.png" alt="line">
							<p class="posts_text-posts-italic">Curabitur luctus placerat lorem id eleifend. Nulla ac lacus finibus, tempor velit hendrerit, vulputate lacus. Nunc fermentum nunc sem, ac eleifend tellus cursus nec. Donec a euismod est, vitae accumsan purus. Proin aliquet ex massa, ac finibus magna commodo vitae. </p>
							<p class="posts_text-post">Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.
					        </p>

					        <p class="posts_text-post">Sed sagittis commodo dolor. Vivamus elementum sem sed sapien bibendum viverra. Curabitur semper scelerisque turpis eu ullamcorper. Morbi tincidunt auctor orci id consequat. Nulla odio mi, iaculis id congue quis, euismod id nisi. In varius congue diam, et viverra lorem bibendum ut.</p>

							<div>
							
							<div class="read-more"> read more</div>
						
						 <ul class="posts_hashtags">
                        	<li><a href="#">#Yosemit</a></li>
                        	<li><a href="#">#Peak</a></li>
                        	<li><a href="#">#Explorer</a></li>
                        	</ul></span>
				 		</div>
							<div class="posts_tag2 tag-Observe" > I Do Observe</div>
				 		</div>
				 		<div class="section__posts height-post3">
				 		
				 			<span class="posts_Sep-20"> Sep 11</span>
				 				<div class="posts_title1">Democracy means simply the bludgeoning of the people by the people for the people. 
							</div>
							<img class="posts_line-post" src="../images/line-post.png" alt="line">
							<img class="posts3_image" srcset="../images/image-post3.png 1x, ../images/image-post3@2x.png  2x " alt="Statue">
							<p class="posts_text-post margin-text-post3">Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.
					        </p>
					        <p class="posts_text-post margin-top-0 ">Mauris sem odio, rhoncus eget euismod sed, pellentesque sit amet felis. Praesent dictum eleifend dui et efficitur. Nunc non orci in neque sodales semper. Etiam euismod volutpat lorem, vestibulum malesuada justo aliquet eget. Nunc lacus ante, varius a euismod eu, finibus commodo erat. Curabitur tincidunt sit amet nunc id interdum. Aliquam augue nisi, venenatis vitae ex at, lobortis fringilla nibh. Proin placerat enim vitae egestas eleifend. Aliquam quis orci dignissim, posuere nibh a, eleifend augue. Cras quis metus nec tortor aliquet ullamcorper. Quisque varius porta metus, ut maximus dolor euismod nec. Suspendisse sit amet feugiat turpis.
					        </p>
					        <img class="posts_vertical-line"src="../images/vertical-line.png" alt="Vertical line">
					        <div class="posts_text-line">Curabitur ut leo pulvinar, consectetur magna eu, feugiat purus. Morbi hendrerit lectus turpis, a porttitor velit imperdiet id.</div>
							<p class="posts_text-post">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor. Nullam scelerisque ante mauris, egestas commodo nisi gravida ultrices. Suspendisse dapibus feugiat tincidunt. Aliquam gravida quam at ipsum sagittis bibendum. 
					        </p>
					        	<div class="posts_footer">
							<div class="read-more"> read more</div>
						 <ul class="posts_hashtags">
                        	<li><a href="#">#Democracy   </a></li>
                        	<li><a href="#">#Introspection</a></li>
                        	</ul></span>
				 		</div>
							<div class="posts_tag3 tag-Reflect" > I Do Reflect</div>

							</div>
				 	</div>
				 	</section>
				 </div>
				  {% endblock %}
				
				 </body>
 
   </html>
	