   <html>
				 <head>
				 	<link rel="stylesheet" href="../vendor/normalize.css" > 
				 	
				 	<link rel="stylesheet" href="../styles/style.css" > 
				 	<link rel="stylesheet" href="../styles/contact.css" > 
				 	<link rel="shortcut icon" href="../images/favicon.ico" sizes="32x32"/>
				 	<meta name="keywords" content="Paolo Alto,paolo ,alto">
				 	<meta name="description" content="Paolo Alto">

				 
				 </head>
 
				 <body>
				 				 	<div class="wrapper">
				 	<header class="header">
				 		<a href="index.html"><img class="logo" srcset="../images/logo.png 1x, ../images/logo@2x.png 2x" alt="Logo"></a>	
				 		<div class="nav">
				 		 	<ul class="nav_links">
                        	<li><a class="inactive " href="index.html">home</a></li>
                        	<li><a class="header__link" href="#">about</a></li>
                        	<li><a class="header__link" href="#">archive</a></li>
                        	<li><a class="header__link" href="contacts.html">contact</a></li>
                        	<li><a  class="nav__links_search" href="#"></a></li>
                    </ul>
                	</div>
				 	</header>
				 {% block main %}
			     {% endblock %}
				 <footer>
				 	<img class="footer__paolo-alto" src="../images/Palo-Alto-Footer.png" alt="Paolo Alto">

				<div class="footer__nav">
				 		 	<ul class="footer__nav_links">
                        	<li><a class="footer__inactive" href="index.html">home</a></li>
                        	<li><a class="link" href="#">about</a></li>
                        	<li><a class="link"  href="#">archive</a></li>
                        	<li><a class="link" href="contacts.html">contact</a></li>
                        	<li><a class="footer__search" href="#"><img src="../images/footer-search.png" alt="Search"></a></li>
                    </ul>
							<img class="footer__line" src="../images/line-text.png" alt="line">
							<p class="footer__text">© 2015 - Palo Alto. All Rights Reserved. Designed & Developed by <span class="footer__text_pixel">PixelBuddha Team</span></p>
                   <div class="footer__share">
                    <a href="#"> <img class="footer__share_icon backgr" srcset="../images/facebook.png 1x, ../images/facebook@2x.png 2x" alt="fb"></a>
                    <a href="#"> <img class="footer__share_icon backgr" srcset="../images/twitter.png 1x, ../images/twitter@2x.png 2x" alt="tw"></a>
                    <a href="#"> <img class="footer__share_icon backgr" srcset="../images/instagram.png 1x, ../images/instagram@2x.png 2x" alt="inst"></a>
                    <a href="#"> <img class="footer__share_icon backgr" srcset="../images/pinterest.png 1x,../images/pinterest@2x.png 2x" alt="pin"></a>
                
                </div>
				 </footer>
				 </body>
 
   </html>
	